@import "normalize.css";

body, html {
	margin: 0;
	padding: 0;
	background: #F5F5F5;
	font-family: "Roboto", "Arimo", "Droid Serif", serif;
}

p {
	font-family: "Open Sans", "Roboto", "Droid Sans", serif;
	font-size: 18px;
	line-height: 30px;
}

h1, h2, h3 {
	text-align: center;
}

#skills, #projects {
	padding-bottom: 20px;
}

/*
  ========================================
  Images
  ========================================
*/

.myimg {
	height: 250px;
	width: 250px;
}
.css3 {
	height: 225px;
	width: 200px;
}
.myimg2 {
	height: 225px;
	width: 225px;
}

/*
.skill-menu img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
*/

/*
  ========================================
  Color Schemes
  ========================================
*/
#about {
	background: #f75454;
	background: #f1c1c0;
	color: #59272D;
	color: white;
	padding: 20px;
}
#about h1 {
	color: #be0030;
}
#intro {
	/*padding: 0 50px; */
	font-size: 20px;
}

#work {
	padding: 20px;
	color: white;
}
#contact {
	padding: 20px;
	background: #f1c1c0;
	color: white;
}
h1 {
	font-style: bold;
	color: #FF6A5C;
	text-transform: uppercase;
}
h2 {
	color: #59272D;
	text-transform: uppercase;
}
h3 {
	color: #59272D;
}

#work p {
	color: black;
}

/*
  ========================================
  Links
  ========================================
*/
a {
  text-decoration: none;
}

#bs-example-navbar-collapse-1 a {
	color: black;
	padding: 15px;
	font-size: 15px;
}

#bs-example-navbar-collapse-1 a:hover {
  color: #a9b2b9;

}
p a {
  border-bottom: 1px solid #dfe2e5;
}
#projects a {
  color: black;
  text-decoration: none;
}
#projects a:hover {
	color: #FF6A5C;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}
.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: #fff;
  color: #648880;
}

/*
  ========================================
  Header
  ========================================
*/
.navbar-brand {
margin: -20px;
}

div#wrapperHeader {
 width: 100%;
 height: 715px;
 /* image used below is edited from:
 		Handpainted Gouache Digital Papers
		by AnzhelikaGerman */
 background:url(images/more3.png) repeat-x 0 0;
 text-align:center;
}

div#wrapperHeader div#header {
 width:1000px;
 height:700px;
 margin:0 auto;
}

div#wrapperHeader div#header img {
 width: 350px;
 height: 375px;
 margin: 150px auto;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

.fade-in.logo {
	-webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.header p {
	font-size: 25px;
}
/*
  ========================================
  Primary footer
  ========================================
*/

.footer {
	background: white;
	color: black;
	font-size: 20px;
	margin: 20px;
	padding: 15px;
}
.footer small {
	margin: 20px;
	padding: 15px;
	font-weight: 400;
}

/*
  ========================================
  Navigation
  ========================================
*/
.navbar {
	background: white;
	margin: 0 auto;
	padding: 15px;

}
.nav {
	text-transform: uppercase;
	font-family: "Roboto", "Arimo", serif;
}

/*
  ========================================
  Modals
  ========================================
*/
.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	backface-visibility: hidden;
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	/*background: #222;  */
	perspective: 700px;
}

.container {
	/*background: #e74c3c; */
		min-height: 100%;
}
