@import "normalize.css";

body, html {
	margin: 0;
	padding: 0;
	background: #F5F5F5;
	font-family: "Roboto", "Arimo", "Droid Serif", serif;
}

p {
	font-family: "Open Sans", "Roboto", "Droid Sans", serif;
	font-size: 18px;
	line-height: 30px;
}

h1, h2, h3 {
	text-align: center;
}

#skills, #projects {
	padding-bottom: 20px;
}

/*
  ========================================
  Images
  ========================================
*/

.myimg {
	height: 250px;
	width: 250px;
}
.css3 {
	height: 225px;
	width: 200px;
}
.myimg2 {
	height: 225px;
	width: 225px;
}

/*
.skill-menu img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
*/

/*
  ========================================
  Color Schemes
  ========================================
*/
#about {
	background: #CFA5A0;
	background: #D5B0AC;
	background: #CAADC4;
	color: #59272D;
	color: white;
	padding: 20px;
}
#work {
	padding: 20px;
	color: white;
}
#contact {
	padding: 20px;
	background: #CAADC4;
	color: #1254A5;
}
h1 {
	font-style: bold;
	color: #FF6A5C;
	text-transform: uppercase;
}
h2 {
	color: #59272D; 
	text-transform: uppercase;
}
h3 {
	color: #59272D;
}

#work p {
	color: black;
}

/*
  ========================================
  Links
  ========================================
*/
a {
  text-decoration: none;
}

#bs-example-navbar-collapse-1 a {
	color: black;
	padding: 15px;
	font-size: 15px;
}

#bs-example-navbar-collapse-1 a:hover {
  color: #a9b2b9;
  color: #FF6A5C;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}
#projects a {
  color: black;
  text-decoration: none;
}
#projects a:hover {
  color: #FF6A5C;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
}
.btn-alt {
  border: 1px solid #fff;
  padding: 10px 30px;
}
.btn-alt:hover {
  background: #fff;
  color: #648880;
}

/*
  ========================================
  Primary header
  ========================================
*/
.navbar-brand {
margin: -20px;
}

/*
  ========================================
  Primary footer
  ========================================
*/

.footer {
	background: white;
	color: black;
	font-size: 20px;
	margin: 20px;
	padding: 15px;
}
.footer small {
	margin: 20px;
	padding: 15px;
	font-weight: 400;
}

/*
  ========================================
  Navigation
  ========================================
*/
.navbar {
	background: white;
	margin: 0 auto;
	padding: 15px;
	
}
.nav {
	text-transform: uppercase;
	font-family: "Roboto", "Arimo", serif;
}
/*
  ========================================
  Home
  ========================================
*/
