@import "normalize.css";
@import "genericons.css";

body, html {
	margin: 0;
	padding: 0;
	background: #F5F5F5;
	font-family: "Roboto", "Arimo", "Droid Serif", serif;
}

p {
	font-family: "Open Sans", "Roboto", "Droid Sans", serif;
	font-size: 18px;
	line-height: 30px;
}

h1, h2, h3 {
	text-align: center;
}

#skills, #projects {
	padding-bottom: 20px;
}

/*
  ========================================
  Images
  ========================================
*/

.myimg {
	height: 150px;
	width: 150px;
}
.css3 {
	height: 125px;
	width: 100px;
}
.myimg2 {
	height: 125px;
	width: 125px;
}

/*
  ========================================
  Color Schemes
  ========================================
*/
h1 {
	color: #be0030;
	text-transform: uppercase;
}
h2 {
	color: #59272D;
	text-transform: uppercase;
}
h3 {
	color: #FF6A5C;
}
#about {
	background: #f1c1c0;
	color: white;
	padding: 20px;
}
#intro {
	font-size: 20px;
}
#work {
	padding: 20px;
	color: white;
}
#work p {
	color: black;
}
#contact {
	padding: 20px;
	background: #f1c1c0;
	color: white;
}

/*
  ========================================
  Links
  ========================================
*/
a {
	text-decoration: none;
}

#bs-example-navbar-collapse-1 a {
	color: black;
	padding: 15px;
	font-size: 15px;
}

#bs-example-navbar-collapse-1 a:hover {
	color: #a9b2b9;
}
p a {
	border-bottom: 1px solid #dfe2e5;
}
#projects a {
	color: black;
	text-decoration: none;
}
#projects a:hover {
	color: #FF6A5C;
}

/*
  ========================================
  Header
  ========================================
*/
.navbar-brand {
	margin: -20px;
}

div#wrapperHeader {
	width: 100%;
	height: 715px;
 /* image used below is edited from:
 Handpainted Gouache Digital Papers
by AnzhelikaGerman */
	background:url(images/floralback.png) repeat-x 0 0;
	text-align:center;
}

div#wrapperHeader div#header {
	width:1000px;
	height:700px;
	margin:0 auto;
}

div#wrapperHeader div#header img {
	width: 350px;
	height: 375px;
	margin: 150px auto;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
	
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	animation-duration: 1.5s;
}

.fade-in.logo {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.header p {
	font-size: 25px;
}

/*
  ========================================
  Navigation
  ========================================
*/
.navbar {
	background: rgba(0,0,0,0.5);
	margin: 0 auto;
	padding: 15px;

}
.nav {
	text-transform: uppercase;
	font-family: "Roboto", "Arimo", serif;
}

/*
  ========================================
  Modals
  ========================================
*/
.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	backface-visibility: hidden;
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	perspective: 700px;
}

.container {
	min-height: 100%;
}

/*
  ========================================
  Genericons
  ========================================
*/
.genericon-github, .genericon-facebook, .genericon-mail {
	width: 100px;
	height: 100px;
}

/*
  ========================================
  Footer
  ========================================
*/

.footer {
	background: white;
	color: black;
	font-size: 20px;
	margin: 20px;
	padding: 15px;
}
.footer small {
	margin: 20px;
	padding: 15px;
	font-weight: 400;
}
